.container {
  padding: 0;
  margin: 0;
  min-height: calc(100vh - 64px);
  width: 100%;
}
.container * {
  box-sizing: border-box;
}

.dashboardMain {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    'panel projection strategies'
    'investment investment investment'
    'toolbar toolbar toolbar';
  padding: 1rem;
}

.panelMain {
  border: 1px solid #77889963;
  border-radius: 3px;
  background-color: #d3d3d321;
  grid-area: panel;
}
.projectionMain {
  border: 1px solid #77889963;
  border-radius: 3px;
  background-color: bisque;
  grid-area: projection;
  padding: 1rem;
}
.strategiesMain {
  border: 1px solid #77889963;
  border-radius: 3px;
  background-color: #323539;
  grid-area: strategies;
  padding: 1rem;
}
.investmentMain {
  border: 1px solid #77889963;
  border-radius: 3px;
  background-color: floralwhite;
  grid-area: investment;
  padding: 1rem;
}

.toolbarMain {
  border: 1px solid #77889963;
  border-radius: 3px;
  background-color: #010101;
  grid-area: toolbar;
  padding: 0.5rem;
}

.breadcrumb-item.active {
  color: beige;
}

.breadcrumb-item a {
  color: white;
}

/* scss
all Main classes has to inherit an unique class (main-area) with properties index.tsx will use like:
- display:grid
- grid-template-area

all Main classes has an grid-area style

*/

/* .mainArea  {
  border: 1px solid #77889963;
  border-radius: 3px;
  background-color: #d3d3d321;
} */
